
<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="text-left">
      <h2>About SPOGWorks</h2><br>
      <p>10s of Tools and 100s of components to be monitored, resulting in multiple dashboards. While searching for the proverbial "All-in-One" solution, a thought process was put in motion.
Each tool has it's uniqueness and there is NO "one-size fits all" !!
	</p>
      <p> How about we pick only the required metrics of each tool and represent them in a customizable fashion? And have them displayed in a SINGLE dashboard.
Thus was born <strong>SPOG</strong> - Single Pane Of Glass.
	</p>
<!--      <br>
          <a href="mailto:sales@spogworks.com?subject=Information required"><button type="submit" class="btn btn-default btn-lg">Get in Touch</button></a>
-->
      </div>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-qrcode logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-compressed logo slideanim"></span>
    </div>
    <div class="col-sm-8">
      <div class="text-right">
      <h2>What we do ?</h2><br>
      <p>With strong backgrounds in Automation, we offer customized solutions to unique challenges.
	</p>
      <p>Be it Infrastructure and Inventory Management, Application Performance Analytics or Aggregation of existing Tools and Solutions- We'll develop a custom solution tailored to fit your needs and requirements.
	</p>
      </div>
    </div>
  </div>
</div>

