
<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Free Trial</h1>
        </div>
        <div class="panel-body">
          <p><strong>20</strong> Endpoints</p>
          <p><strong>3</strong> Web URLs</p>
          <p><strong>2</strong> Locations</p>
          <p><strong>8x5</strong> Support</p>
        </div>
        <div class="panel-footer">
          <h3>$0</h3>
          <h4>per month</h4>
        </div>
      </div>      
    </div>     
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Basic</h1>
        </div>
        <div class="panel-body">
          <p><strong>50</strong> Endpoints</p>
          <p><strong>20</strong> Web URLs</p>
          <p><strong>10</strong> Locations</p>
          <p><strong>24x5</strong> Support</p>
        </div>
        <div class="panel-footer">
          <h3>$50</h3>
          <h4>per month</h4>
        </div>
      </div>      
    </div>       
    <div class="col-sm-4 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>Unlimited</strong> Endpoints</p>
          <p><strong>50</strong> Web URLs</p>
          <p><strong>50</strong> Locations</p>
          <p><strong>24x7</strong> Support</p>
        </div>
        <div class="panel-footer">
          <h3>$250</h3>
          <h4>per month</h4>
        </div>
      </div>      
    </div>    
  </div>
</div>

