
<!-- Container (Solutions Section) -->
<div id="solutions" class="container-fluid text-center">
  <h2>SOLUTIONS</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-link logo-small"></span>
      <h4 style="color:#303030;">Tools Aggregation</h4>
      <p>KPI Aggregation, Unified view</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo-small"></span>
      <h4>Webpage Statistics</h4>
      <p>Availability, Latency, Pageload time</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-briefcase logo-small"></span>
      <h4>Professional Services</h4>
      <p>Infrastructure Management, Automation strategies, Deployment strategies</p>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-edit logo-small"></span>
      <h4>Automation</h4>
      <p>Scripting, API wrappers, WebApp automation</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-equalizer logo-small"></span>
      <h4>Infrastructure Analytics</h4>
      <p>KPIs, Trend Analytics</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-stats logo-small"></span>
      <h4>Application Performance</h4>
      <p>KPIs, Logical Tiering</p>
    </div>
  </div>
</div>

