<!-- Container (About Section) -->
<div id="features" class="container-fluid">
  <div class="row">
    <div class="col-sm-10">
      <div class="text-left">
      <p>Features .......
	</p>
      <p> How about we pick only the required metrics of each tool and represent them in a customizable fashion? And have them displayed in a SINGLE dashboard.
Thus was born <strong>SPOG</strong> - Single Pane Of Glass.
	</p>
      </div>
    </div>
    <div class="col-sm-2">
	<span class="glyphicon glyphicon-qrcode logo teal"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-2">
      <span class="glyphicon glyphicon-compressed logo slideanim teal"></span>
    </div>
    <div class="col-sm-10">
      <div class="text-right">
      <h2>Features continued ..</h2><br>
      <p>With strong backgrounds in Automation, we offer customized solutions to unique challenges.
	</p>
      <p>Be it Infrastructure and Inventory Management, Application Performance Analytics or Aggregation of existing Tools and Solutions- We'll develop a custom solution tailored to fit your needs and requirements.
	</p>
      </div>
    </div>
  </div>
</div>

