
<!-- Container (Pricing Section) -->
<div id="pricing" class="container-fluid dkpurple">
  <div class="text-center">
    <h2 class="teal">Pricing</h2>
    <h4>Choose a payment plan that works for you</h4>
  </div>
  <div class="row slideanim">
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Freemium</h1>
        </div>
        <div class="panel-body">
          <p><strong>10</strong> Endpoints</p>
          <p><strong>3</strong> Web URLs</p>
          <p><strong>2</strong> Locations</p>
          <p><strong>8x5</strong> Support</p>
        </div>
        <div class="panel-footer">
          <h3>$0</h3>
          <h4>per month</h4>
        </div>
      </div>      
    </div>     
    <div class="col-sm-6 col-xs-12">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h1>Premium</h1>
        </div>
        <div class="panel-body">
          <p><strong>Unlimited</strong> Endpoints</p>
          <p><strong>10</strong> Web URLs</p>
          <p><strong>10</strong> Locations</p>
          <p><strong>24x7</strong> Support</p>
        </div>
        <div class="panel-footer">
          <h3>Contact us</h3>
          <h4>for customized pricing</h4>
        </div>
      </div>      
    </div>    
  </div>
</div>

