
<!-- Container (Solutions Section) -->
<div id="solutions" class="container-fluid text-center dkpurple">
  <h2 class="text-center teal">SOLUTIONS</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-edit logo-medium teal"></span>
      <h4>Monitoring Tools Aggregation (Event Correlation)</h4>
      <h5>KPI Aggregation, Unified view</h5>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-briefcase logo-medium teal"></span>
      <h4>Professional Services</h4>
      <h5>Infrastructure Management, Automation strategies, Deployment strategies</h5>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-globe logo-medium teal"></span>
      <h4>Website Performance</h4>
      <h5>Availability, Latency, Pageload time</h5>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-equalizer logo-medium teal"></span>
      <h4>Network Performance Monitoring</h4>
      <h5>KPIs, Trend Analytics</h5>
    </div>
  </div>
</div>

