
<!-- Container (Solutions Section) -->
<div id="solutions" class="container-fluid text-center dkpurple">
  <h2 class="text-center teal">SOLUTIONS</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-edit logo-medium teal"></span>
      <h4>Event Correlation</h4>
	<ul class="list-group">
		<li class="list-item">Aggregation of events from Monitoring Tools</li>
		<li class="list-item">Unified view of Heterogenous environment</li>
	</ul>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-briefcase logo-medium teal"></span>
      <h4>Professional Services</h4>
	<ul class="list-group">
		<li class="list-item">Infrastructure Automation</li>
		<li class="list-item">Automation frameworks and strategies</li>
		<li class="list-item">Deployment strategies</li>
	</ul>
    </div>
  </div>
  <br><br>
  <div class="row slideanim">
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-globe logo-medium teal"></span>
      <h4>Website Performance</h4>
	<ul class="list-group">
		<li class="list-item">Website Availability, Latency, Pageload time</li>
		<li class="list-item">Waterfall metrics of sub-components</li>
		<li class="list-item">Website content technology breakup</li>
	</ul>
    </div>
    <div class="col-sm-6">
      <span class="glyphicon glyphicon-equalizer logo-medium teal"></span>
      <h4>Network Performance Monitoring</h4>
	<ul class="list-group">
		<li class="list-item">KPIs, Trend Analytics</li>
		<li class="list-item">Network route visualizations</li>
		<li class="list-item">Network 'bottleneck' identification</li>
	</ul>
    </div>
  </div>
</div>

